# History files
.Rhistory

.RData

# files ending in -dev.r are used for developing / testing new code
# and don't need to end up in repo
*-dev.r
dev-*

# taken from https://github.com/hadley/devtools/blob/master/.gitignore
.R*
*.so
*.o
*.dll
*.Rproj

# Example code in package build process
*-Ex.R

.DS_Store

# backup files created by emacs
*~

# these are created as part of building vignettes
*.log
*.synctex.gz
*.tex

# compiled versions of vignettes


.Rproj.user
