export(attributes.to.long)
export(cmc.decode)
export(compute.occ.exp)
export(dct.to.vardefs)
export(harmonize.levels)
export(make.age.groups)
export(make.lifeline)
export(make.time.periods)
export(recode.varmap)
export(remap.contig)
export(rename.vars)
export(same.remap)
export(simple.fwf)
export(yr.to.cmc)
import(functional)
import(grDevices)
import(plyr)
import(reshape2)
import(stringr)
