export(cmc.decode)
export(compute.occ.exp)
export(dct.to.vardefs)
export(exp.in.interval)
export(harmonize.levels)
export(plot.mort.surface)
export(remap.contig)
export(rename.vars)
export(same.remap)
export(simple.fwf)
export(yr.to.cmc)
import(grDevices)
import(plyr)
import(reshape2)
